auth_enabled: false  # for local dev only

server:
  http_listen_port: 3100

# Common configuration for the ring
common:
  replication_factor: 1  # single-node dev
  ring:
    kvstore:
      store: consul
      consul:
        host: consul:8500

distributor: {}

ingester:
  wal:
    dir: /wal
  chunk_idle_period: 5m
  chunk_block_size: 262144
  max_chunk_age: 1h

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem

  filesystem:
    directory: /loki/chunks

compactor:
  working_directory: /loki/compactor
  shared_store: filesystem

limits_config: {}
